<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- В контенте на странице мы выводим все публикации -->
{% block content %}

<h1>Список публикаций</h1>
<h1>За прощедшую неделю было добавлено {{posts|length}} публикаций.</h1>
    <table>
            <tr>
                <td>
                    <b>Заголовок публикации</b>
                </td>
            </tr>
        {% for post in posts %}
            <tr>
                <td>
                   <a href="http://127.0.0.1:8000/news/{{post.post__id}}">{{ post.post__name }} </a>
                    <br>
                    ------------------------------------------------
                </td>
            </tr>
        {% endfor %}
        </table>
{% endblock content %}
</body>
</html>